.flex {
  display: flex;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
}

#menu li {
  list-style: none;
  font-size: 20px;
}

.profile {
  text-align: center;
}

.photo {
  height: 300px;
  margin-right: 3rem;
}

.biographie picture,
.biographie p {
  padding: 1rem;
  width: 50%;
}

.biographie p {
  line-height: 2rem;
}

.biographie picture {
  justify-content: flex-end;
  align-items: center;
}

.skill {
  text-align: center;
}

.tech {
  text-align: center;
}

.logo {
  font-size: 2.5rem;
  padding: 1rem;
}

.cv {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.imgcv {
  max-width: 300px;
  border: 3px solid #a9a9b3;
  margin-right: 5rem;
}

.front-end {
  text-align: center;
}

.back-end {
  text-align: center;
}
